body{
    background-image: url("blob image/login.jpg");
    background-size: 100%;
}
h1{
    margin-left: 310px;
    color: aliceblue;
    

}
input{
    margin-left: 230px;
    width: 290px;
    height: 40px;
    border-radius: 10px;
    
    
    font-size: large;
    font-variant: small-caps;
    font-style: italic;
    text-indent: 40px;
    font-stretch:wider;
    text-shadow: #9231fd;
    margin-top: 15px;
    border-top: none;
    border-left: none;
    border-bottom: rgb(3, 15, 19) solid 1px;
    opacity: 0.6;
}
button{
    display: block;
  margin-left: 275px;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  background-color: white;
  
  padding: 3px;
  font-size: larger;
   border-radius: 9px;
   opacity: 0.6;
}

div{
    

    width: 60%;
    height: 40%;
    margin-top: 90px;
    margin-left: 0px;
}
h4{
    margin-left: 285px;
    margin-top: 35px;
    
}
a{
    color: azure;
    font-size: larger;
    display: block;
}